/**umb_name:Paragraph*/
p {
    font-size: 1em;
}

/**umb_name:Lead*/
p.lead{
    font-size: 1.1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5em;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

/**umb_name:Heading 1*/
h1 {
    font-size: 2.5em;
}

/**umb_name:Heading 2*/
h2 {
    font-size: 2em;
}

/**umb_name:Heading 3*/
h3 {
    font-size: 1.75em;
}

/**umb_name:Heading 4*/
h4 {
    font-size: 1.5em;
}

/**umb_name:Heading 5*/
h5 {
    font-size: 1.25em;
}

/**umb_name:Heading 6*/
h6 {
    font-size: 1em;
}

/**umb_name:Small*/
.small{
    font-size: .9em;
}

/**umb_name:Mark*/
.mark {
    padding: .2em;
    background-color: #fcf8e3;
}

/**umb_name:Initialism*/
.initialism {
    font-size: 90%;
    text-transform: uppercase;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 0;
    border-top: 1px solid #000;
}