<?xml version="1.0" encoding="utf-8"?>
<dashBoard>
  <section alias="CommentsDashboardSection">
    <access>
      <deny>translator</deny>
    </access>
    <areas>
      <area>content</area>
    </areas>
    <tab caption="Comments">
      <access>
        <grant>admin</grant>
      </access>
      <control showOnce="true" addPanel="true" panelCaption="">
        ~/App_Plugins/ucomments/backoffice/views/dashboard/commentsdashboard.html
      </control>
    </tab>
  </section>
</dashBoard>